# Системные файлы
.DS_Store
Thumbs.db

# Лог-файлы
*.log

# Конфигурация IDE
.idea/
.vscode/

# Директории зависимостей
node_modules/
__pycache__/

# Скомпилированные файлы
*.o
*.class

# Временные и резервные файлы
*.tmp
*.bak

# Файлы окружения
.env